.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.booking-window {
  max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
}

.show-seat {
  min-width: 40px;
  min-height: 30px;
  margin: 5px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
}

/*.show-seat:hover,
.show-seat:focus{
  background-color: #025aa5;
  cursor:pointer;
  #025aa5;
}*/

.confirmSeatsBtn {
  display: inline;
  float: right;
}

.showseatAvailable {
  color: #fff;
  background-color: #0275d8;
  cursor:pointer;
}

.showseatNotAvailable {
  color: #fff;
  background-color: #f7f7f9;
  cursor:not-allowed;
}

.showseatBooked {
  color: #fff;
  background-color: #679CC9;
  cursor:pointer;
}
